.welcome_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: var(--message-container);
  border-radius: 1rem;
  position: relative;
}

.welcome_text {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.cube_container {
  position: absolute;
  width: 50%;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 600px) {
  .cube_container {
    width: 70%;
  }
}